/*

Theme Name: StanleyWP Child

Template: stanleywp

Author: Child Theme Configurator

Version: 1.0.1458385975

Updated: 2016-03-19 11:12:55

*/



@charset "UTF-8";



				@font-face {
					font-family: "Steinerlight";
					src: url("./fonts/Steinerlight.eot");
					src: url("./fonts/Steinerlight.eot?#iefix") format("embedded-opentype"),
					url("./fonts/Steinerlight.woff") format("woff"),
					url("./fonts/Steinerlight.ttf") format("truetype"),
					url("./fonts/Steinerlight.svg#Steinerlight") format("svg");
					font-weight: normal;
					font-style: normal;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}

a {
    color: #1e8cbe;
    text-decoration: none;
}
p {
    font-size: 14px;
    line-height: 24px;
    /*margin-bottom:15px;*/
}
.navbar-inverse {

    background: #1e8cbe none repeat scroll 0 0 !important;

    border-color: transparent !important;

    color: #fff;

    padding-bottom:0px;

    padding-top:0px;

} 
p{
    color: #000;
    font-family: Verdana,sans-serif;
    font-size: 15px;
	/*text-align:justify;*/
}
.tut-content{
	padding-bottom:10px;
	padding-top:10px;
	}
.tut-content p{
	text-align:justify;
	font-size:16px;
	line-height:28px;
	
}
.tut-content ul li {
	
    background: rgba(0, 0, 0, 0) url(./images/list-bullet.png) no-repeat scroll 0 13px / 6px 9px;
    color: #444;
    margin-bottom: 13.3333px;
    padding-left: 15px;
	margin-left:10px;
}

.tut-content ul {
    list-style: outside none none;
    line-height: 1.8;
}

.tut-content table{
    border-top: 2px solid #0c6667;
}
.tut-content table {
    border-bottom: 1px solid #ededed;
    color: #757575;
    font-size: 14px;
    line-height: 2;
    margin: 20px 0;
    width: 100%;
}
.tut-content table tr th {
    background-color: #f0f0f0;
    
    padding: 8px 5px !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#logo {

    width: 270px;

}

#ww{padding:60px 0px;}

.navbar {

    

    margin-bottom: 0px;}

	

	.wpcom-box {

    background: rgba(0, 0, 0, 0.35) none repeat scroll 0 0;

    border-radius: 2px;

    display: inline-block;

    margin: 30px auto 0;

    max-width: 720px;

    overflow: hidden;

    padding: 10px;

}



.wpcom-box .button {

    background: #1e8cbe none repeat scroll 0 0;

    border: 0 none;

    border-radius: 2px;

    color: #fff;

    float: right;

    font-size: 2.2em;

    line-height: normal;

    margin-top: 0;

    padding: 0.5em 1.25em;

    transition: background 200ms ease-in-out 0s, color 120ms ease-in-out 0s;

	text-decoration:none;

}

.home-launch-cta h1 {

    color: #fff;

    font-size: 3.5em;

    line-height: 1.25;

    margin: 0 auto;

    max-width: 90%;

    padding-top: 30px;

    text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.5);

	padding-top:40px;
	font-weight:bold;
	text-transform:uppercase;

}

#footer ul > li > a {

    color: #fff;

    font-size: 13px;

    margin-right: 9px;

    text-transform: capitalize;

}

.home-launch-cta h2 {

    font-size: 1.5em;

    font-weight: 300;

    line-height: 1.5;

    padding:  0 0;

	color:#fff;

	 text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

}

/*.tutorial-box .panel-grid-cell {

    background: #fff none repeat scroll 0 0;

}*/

.services-section *{color:#fff !important;}

.under-content h2 {

    font-size: 24px;

    font-weight: 300;

    line-height: 36px;

    margin-bottom: 22px;

}

.tutorial-box h3 {

    color: #1e8cbe !important;

    font-size: 19px;

    text-transform: uppercase;

}
.tutorial-box h2 {

    color: #1e8cbe !important;

    font-size: 19px;

    text-transform: uppercase;

}

.wysija-paragraph input {

    height: 41px;

    padding: 11px 10px;

    width: 100%;

}

.wysija-paragraph {

    display: block;

    float: left;

    margin-right: 10px;

    width: 32%;

}

.wysija-submit.wysija-submit-field:hover{background-color:transparent; border:1px solid #1E8CBE; color:#1E8CBE;}

.wysija-submit.wysija-submit-field {

    background: #1e8cbe none repeat scroll 0 0;

    border-color:transparent;

    color: #fff;

    padding: 10px 30px;
	width:34%;

}

#footer li {

    display: inline-block;

}

.formError .formErrorContent {

    background: #1e8cbe none repeat scroll 0 0;}

.wysija-paragraph, .wysija-submit {

    display: inline-block !important;

	margin-top:0px !important;

	

}



.tutorial-box .icon_image {

    background: #dde9f0 none repeat scroll 0 0;

    border-radius: 100%;

    display: inline-block;

    padding: 21px !important;

}

.navbar-collapse ul > li > a {

    color: #fff !important;

    margin: 0 6px;

    padding: 6px 9px;

}

header .nav{margin-top:5px;}



#footer {

    background-color:transparent;

}

.very-last-footer {

    background: #0f0f0f none repeat scroll 0 0;

    padding: 16px 0 2px;

}

.footer-menu {

    margin-top: 10px;

}



#footer {

    padding-bottom: 0;

    padding-top: 0;

}



.pre-footer {

    background: #e8f0f5 none repeat scroll 0 0;

    padding: 40px 0;
	border-top:1px solid #fff;

}

#footer h4 {

    color: #000;

}

.footer-logo img {

    float: right;

    width: 230px;

}

.content-cat {

    font-size: 13.5px;

    line-height: 22px;

}

.tutorial-box .btn_style {

    background: #1e8cbe none repeat scroll 0 0;

    color: #fff;

    padding: 7px 0;

    text-decoration: none;

}

.icon {

    border: 1px solid rgba(255, 255, 255, 0.25);

    color: rgba(255, 255, 255, 0.85);

    border-radius: 100%;

    display: inline-block;

    height: 60px;

    padding-top: 13px;

    text-align: center;

    width: 60px;

}

.services-section .panel-grid-cell{transition:0.2s all ease-in-out; -moz-transition:0.2s all ease-in-out; -webkit-transition:0.2s all ease-in-out; -o-transition:0.2s all ease-in-out; padding:10px 0;}

.services-section .panel-grid-cell:hover{background:rgba(0,0,0,0.25);}

.services-section h3 {

    font-size: 21px;

    margin-top: 20px !important;

}

.main-menu-align ul > li > a{text-transform:capitalize !important;}

#logo {
    position: absolute;
    top: 7px;
    z-index: 9999;
}
.home-launch-cta .ow-button-hover {
    border: 5px solid rgba(0, 0, 0, 0.8) !important;
	box-shadow:inset 0 0px 0 0 rgba(0,0,0,0.2);
	-webkit-box-shadow:inset 0 0px 0 0 rgba(0,0,0,0.2);
	-moz-box-shadow:inset 0 0px 0 0 rgba(0,0,0,0.2);
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.home-launch-cta .ow-button-hover:hover {
    border: 5px solid rgba(0, 0, 0, 0.8) !important;
	box-shadow:inset 0 -70px 0 0 rgba(0,0,0,0.2);
	-webkit-box-shadow:inset 0 -70px 0 0 rgba(0,0,0,0.2);
	-moz-box-shadow:inset 0 -70px 0 0 rgba(0,0,0,0.2);
}
a:focus, a:hover {
	outline:none;
	text-decoration:none;
}

.home-launch-cta .dynamic_bold {
	text-transform:uppercase;
}
.home-launch-cta .widget_cl-itext {
	margin-bottom:0  !important;
}
#learn-now .service_top.clearfix.top {
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
#learn-now .service_top.clearfix.top:hover {
	
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
}
#grey {
    background-color: #e8f0f5;
}
#ww > header {
	background:url(./images/w3banner-inr.jpg) no-repeat center top fixed;
	background-size:100%;
	color:#FFFFFF;
	margin-bottom:40px;
}
#ww > header h1 {
    letter-spacing: 2px;
    margin: 60px 0;
    text-align: center;
    text-transform: uppercase;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
#ww > header:hover h1 {
	letter-spacing:6px;
} 
.pre, .next {
    font-size: 0;
	margin-bottom:0px;
}
.pre a, .next a{
	font-size:15px;
	position:relative;
	vertical-align:middle;
	color:#000;
}
.left-single ul {
    /*background-color: #ffffff;*/
	border-top: 1px solid #1e8cbf;
}
.left-single ul li a {
   /* border-bottom: 1px solid #ccc;*/
    /*display: block;*/
    /*padding: 10px 20px;*/
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.left-single h4 {
    font-size: 26px;
}
.left-single ul li a:hover {
   /* background-color: #1e8cbf;*/
    border-bottom: 1px solid #444;
    color: #ffffff;
}
.page #ww {
    padding-top: 0;
}
.pre > a:before {
    content:'\f190';
    left: 0;
    position: absolute;
	font-family: FontAwesome;
	top:0;
}
.pre > a:hover:before {
    left: -5px;
	-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.pre a{
	padding-left:20px;
}
.next a{
	padding-right:20px;
	}
.next > a:before {
    content:'\f18e';
    right: 0;
    position: absolute;
	font-family: FontAwesome;
	top:0;
}
.next > a:hover:before {
    right: -5px;
	-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.center-single {
    background-color: #fff;
    padding-top: 10px;
	border:1px solid #ccc;
}
.brd {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    padding: 5px 0;
	margin-bottom: 20px;
}
.left-single ul li:last-child a {
    border-bottom: 0 none;
}
.heade-border{
	border-bottom: 2px solid #1e8cbf;
	/*margin-bottom: 20px;*/
    padding-bottom: 10px;
	color:#1e8cbf;
	font-weight:bold;
	}
.single .left-single {
    margin-top: 30px;
}
/* Mobile Css */
@media screen and (max-width:767px) {
#logo {
    padding: 15px 0;
    position: static;
    width: auto;
}
.navbar {
	padding-bottom:15px;
}
.wysija-submit.wysija-submit-field {
	width:100%;
}
.wysija-paragraph {
    display: block;
    float: left;
    width: 100%;
    margin-right: 0 !important;
}
.home-launch-cta .ow-button-hover {
	font-size:1.25em !important;
}
}

.page #sow-headline-container > h1{margin-top:0px;}

.with-cat .rpwe-title > a {
    font-size: 18px;}
	.with-cat .rpwe-summary {
    font-size: 14px;
    margin-top: 10px;
}
.rpwe-li h3 {
    border-bottom: none;
}
.with-cat .rpwe-li h3 {
    border-bottom: medium none;
}
.with-cat .rpwe-ul > li {
    margin-bottom: 28px;
}
.my-cat-pages .rpwe-li > h3 a:hover,.same-category-post-item > a:hover {
    background: #666 none repeat scroll 0 0;
    transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
}
.left-menu .widget-title {
    font-size: 20px;
    margin-bottom: 20px;
}
.left-single {
   /* background: #eee none repeat scroll 0 0;
    margin-right: 0;
    padding: 20px;*/
}
.center-single h2 {
    margin-top: 0;
} 
.same-category-post-item{border-bottom:none;}
.my-cat-pages .rpwe-li > h3 a,.same-category-post-item > a {
    background: #1e8cbf none repeat scroll 0 0;
    border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
    color: #fff;
    display: block !important;
    padding: 4px 8px;
	font-size:14px;
	transition:all 0.3s ease-out 0s;
	-moz-transition:all 0.3s ease-out 0s;
	-ms-transition:all 0.3s ease-out 0s;
	-webkit-transition:all 0.3s ease-out 0s;
	border:none !important;
	font-weight:normal;
}
.my-cat-pages .rpwe-block li{padding-bottom:0px;}
.my-cat-pages .rpwe-block li:last-child{margin-bottom:0px;}


/*loader*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/rolling.gif) center no-repeat #fff;
}
.se-pre-con > h1{ color:#1E8CBE; padding-top:40px;}

.left-single .widget-wrapper, .right-single .widget-wrapper {
/*    background: #ffffff none repeat scroll 0 0;
    margin-bottom: 20px;
    padding: 10px; */
	float:left; width:100%;

}
.widget-wrapper{
padding-bottom:0px !important;
}
.right-single .wysija-paragraph {
    float: left;
    width: 100%;
}
.right-single .wysija-submit.wysija-submit-field {
    width: 100%;
}
.form-validation-field-1formError.parentFormform-wysija-3.formError, .form-validation-field-0formError.parentFormform-wysija-3.formError {
    left: inherit !important;
}
.sfsi_holders {
    height: 46px !important;
}
.my-cat-pages .row.brd {
    margin: 0 auto;
}
/*
Commented:Manoj
.my-cat-pages section {
    padding: 0 15px;
}*/
ul.list li {
    background: rgba(0, 0, 0, 0) url("http://gongeek.com/w3adda/wp-content/uploads/2016/08/icon-bullet.png") no-repeat scroll 0 4px;
    list-style: outside none none;
    margin-bottom: 5px;
    padding: 0 0 0 19px;
}
.list {
    display: block;
    float: left;
    padding-left: 40px;
}
.post-cont-heading{ font-size: 2em;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px 3px #cccccc;    line-height: 30px;}
.page-template-tmp-category .post-entry p{color: #444444;
    font-size: 15px !important;
    line-height: 24px;
    margin: 0 0.2em 1em;
    padding: 0;
    text-align: justify !important;
	
	}
.left-top-img{ background:#ffffff; width:100%; padding:15px; margin-bottom:20px;}
.so-widget-sow-headline h2{line-height: 32px;
    margin: 0 auto;
    padding-top: 21px;}

#mega-menu-wrap-top-bar #mega-menu-top-bar > li.mega-menu-megamenu > ul.mega-sub-menu{color: #666666 !important;}
#mega-menu-wrap-top-bar #mega-menu-top-bar > li.mega-menu-megamenu > ul.mega-sub-menu{ top:51.2px!important;}

.current{
/*background:#e8f0f5 none repeat scroll 0 0;*/
font-weight:bold;

}


.tut-content h2{
	border-bottom:2px solid #ccc;
	color:#1e8cbf;
	font-weight:bold;
	font-size:20px;
}

.post_menu li::before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin: 0 5px 0 0px;
    color: #95989A;
}
.post_menu li{
   border-bottom:1px solid #ccc;
   line-height:35px;
}
.post_menu li a{
   
   color:#000 !important;
  
}
.qtn_ord{
border-bottom:1px solid #ccc;
font-weight:600;
margin-bottom:5px;
}
.qtn_optn{
}
.qtn_optn ol{
list-style:upper-alpha;
padding:0px 0px 5px 30px
}
.qtn_optn ol li{

}
.qtn_descrip p{
	width: 100% !important;
background-color: #E5E5E7 !important;
padding: 10px 5px 10px 5px !important;
text-align:left !important;
	}
	.qtn_ans{
		margin-bottom:10px;
	}
	
	.sh-link A { 
	color:#000;
	font-weight:600;
	}  
.sh-content { }  
.pressrelease-link { }  
.pressrelease-link.sh-hide A { }  
.pressrelease-link.sh-show A { }  
.pressrelease-content { }  
.pressrelease-content.sh-hide { }  
.pressrelease-content.sh-show { }

.wp-pagenavi {
    text-align: center;
}